$beige_color: #F0EFEB;
/*main*/
.header_center {
  background: $beige_color;
  padding: 90px 0 90px;
  position: relative;
  overflow: hidden;
}
.main-box-foto{
  max-width: 599px;
  display: flex;
  position: absolute;
  top: 0px;
  left: 65%;
  transform: translateX(-40%);
  margin-bottom: 24px;
}
.row{
  max-width: 544px;
  margin: 0;
}
.banner-text{
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
}
.banner-text-second{
  margin-top: 42px;
  margin-bottom: 26px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

