/*1256*/

@media only screen and (max-width: 1526px) {
    .header{
        display: block;
    }
    .float{
        display: flex;
        margin-right: 100px;
    }
    .nav__list-item {
        position: relative;
        display: block;
        -webkit-transition-delay: 0.8s;
        transition-delay: 0.8s;
        opacity: 0;
        text-align: center;
        color: #fff;
        overflow: hidden;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        line-height: 1.15;
        letter-spacing: 3px;
        -webkit-transform: translate(100px, 0%);
        transform: translate(100px, 0%);
        -webkit-transition: opacity .2s ease, -webkit-transform .3s ease;
        transition: opacity .2s ease, -webkit-transform .3s ease;
        transition: opacity .2s ease, transform .3s ease;
        transition: opacity .2s ease, transform .3s ease, -webkit-transform .3s ease;
        margin-top: 0;
        margin-bottom: 0;
    }
    .nav__list-item a{
        position: relative;
        text-decoration: none;
        color: black;
        overflow: hidden;
        cursor: pointer;
        padding-left: 5px;
        padding-right: 5px;
        font-weight: 900;
        z-index: 2;
        display: inline-block;
        text-transform: uppercase;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
    }
    .nav__list-item a:after{
        position: absolute;
        content: '';
        top: 50%;
        margin-top: -2px;
        left: 50%;
        width: 0;
        height: 0;
        opacity: 0;
        background-color: #8167a9;
        z-index: 1;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
    }
    .nav__list-item a:hover:after{
        height: 4px;
        opacity: 1;
        left: 0;
        width: 100%;
    }
    .nav__list-item a:hover{
        color: rgba(255,255,255,1);
    }
    .nav__list-item.active-nav a{
        color: rgba(255,255,255,1);
    }
    .nav__list-item.active-nav a:after{
        height: 4px;
        opacity: 1;
        left: 0;
        width: 100%;
    }
    .banner-text {
        font-size: 40px;
    }

    .banner-text-next {
        font-size: 40px;
    }
    .nav-but-wrap{
        display: inline-block;
    }
    .nav {
        position: fixed;
        z-index: 98;
    }
    .nav__content {
        position: fixed;
        visibility: hidden;
        top: 50%;
        left: 0;
        margin-top: 20px;
        -webkit-transform: translate(0%, -50%);
        transform: translate(0%, -50%);
        width: 100%;
        text-align: center;
    }
}
/*1100*/


@media only screen and (max-width: 1100px) {
    .header .nav div li {
        display: none;
    }
    .header{
        display: block;
    }

    .banner-text-next {
        font-size: 30px;
    }
    .banner-text-second{
        font-size: 17px;

    }
    .row{
        max-width: 300px;
    }
    .nav-but-wrap{
        display: inline-block;
    }
    .nav {
        position: fixed;
        z-index: 98;
    }
}

/*834*/

@media only screen and (max-width: 810px) {
    .header .nav div li {
        display: none;
    }
    .header{
        display: block;
    }


    .some-text {
        margin-top: 20px;
    }

    .logo {
        left: calc(70% - 40px);
    }

    .banner-text {
        font-weight: 700;
        font-size: 60px;
        line-height: 70px;
    }

    .banner-text-next {
        font-weight: 700;
        font-size: 60px;
        line-height: 70px;
        margin-bottom: 42px;
    }

    .banner-text-second {
        margin-top: 42px;
        margin-bottom: 26px;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
    }

    .footer {
        padding: 10px;
    }
    .row {
        padding: 15px;
    }

    .comment_title {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 56px;
    }

    .comment_items {
        flex-direction: column;
        align-items: center;
    }

    .comment_item {
        margin-bottom: 50px;
        max-width: 300px;
    }

    .comment_item-img {
        margin-bottom: 25px;
    }

    .comment_item-title {
        font-size: 20px;
        line-height: 24px;
        max-width: 250px;
    }

    .item-title2 {
        max-width: 240px;
    }

    .item-title3 {
        max-width: 255px;
    }

    .comment_item-text {
        margin-bottom: 25px;
        font-size: 16px;
        line-height: 20px;
    }
    .nav-but-wrap{
        display: inline-block;
    }
    .nav {
        position: fixed;
        z-index: 98;
    }
    .header .nav div li {
        display: none;
    }
    .header{
        display: block;
    }
    .banner-text{
        font-size: 40px;
    }

    .banner-text-second {
        font-size: 19px;
    }

}

/* Add this media query to target mobile devices */
@media only screen and (max-width: 800px) {
    .header .nav div li {
        display: none;
    }
    .header{
        display: block;
    }

    header nav ul li{
        margin-left: 10px;
    }
    .nav-but-wrap{
        display: inline-block;
    }
    .logo {
        left: calc(70% - 40px);
    }
    .row {
        max-width: 250px;
        padding: 10px;
    }
    .banner-text{
        font-size: 18px;
    }
    .banner-text-second{
        font-size: 18px;
    }
    .foto-container {
        max-width: 800px;
        padding: 10px;
    }
    .article-decoration {
    margin-bottom: 5px;
    }
    .article-decoration {
        margin-bottom: 25px;
    }

    .comment_title {
            font-size: 28px;
            line-height: 32px;
            margin-bottom: 40px;
        }

        .comment_items {
            flex-direction: column;
            align-items: center;
            gap: 50px;
        }

        .comment_item {
            max-width: 90%;
            text-align: center;
        }

        .comment_item-img {
            margin-bottom: 20px;
            max-width: 100%;
            height: auto;
        }

        .comment_item-title {
            max-width: 100%;
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 10px;
        }

        .item-title2{
            max-width: 100%;
        }

        .item-title3{
            max-width: 100%;
        }

        .comment_item-text {
            font-size: 16px;
            line-height: 20px;
            margin: 20px 0 30px;
        }

        .comment_item-link {
            font-size: 16px;
            line-height: 20px;
            text-decoration-line: underline;
        }
    .footer {
        padding: 10px;
        }
    .nav {
        position: fixed;
        z-index: 98;
    }

    }
@media only screen and (max-width: 750px) {
    .foto-container {
        flex-direction: column;
        padding: 0;
    }

    .foto-container img {
        width: 100%;
        height: auto;
    }

    .foto-container .people, .foto-container .people-second {
        padding: 0 20px;
        max-width: none;
        text-align: center;
    }

    .foto-container .people .title, .foto-container .people-second .title-second {
        text-align: center;
    }


    .foto-container .and, .foto-container .and-second {
        text-align: center;
        margin-bottom: 20px;
    }

    .foto-container .text, .foto-container .text-second {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 20px;
    }

    .foto-container.background, .foto-container.background-third {
        padding: 30px 0;
    }
}

@media only screen and (max-width: 722px) {
    .main-box-foto {
        max-width: 100%;
        left: 20%;
        transform: translateX(-20%);
        position: relative;
        display: flex;
        margin-bottom: 15px;

    }


    .row {
        max-width: 100%;
        padding: 25px;
    }


    .btn-text {
        font-size: 16px;
        padding: 10px 20px;
    }

    /* Common styles for all screen sizes */
    .foto-container {
        display: flex;
        max-width: 1064px;
        margin: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .header .nav div li {
        display: none;
    }
    .banner-text{
        font-size: 40px;
    }
    .banner-text-second{
        font-size: 25px;
    }

    .header {
        display: block;
    }
    .banner-text{
        font-size: 30px;
    }
}

@media only screen and (max-width: 500px) {
    .main-box-foto {
        max-width: 100%;
        left: 20%;
        transform: translateX(-30%);
        position: relative;
        display: flex;
        margin-bottom: 15px;
    }

    .row {
        max-width: 100%;
        padding: 25px;
    }


    .btn-text {
        font-size: 16px;
        padding: 10px 20px;
    }

    /* Common styles for all screen sizes */

        .some {
                padding: 90px 0 80px;
            }
            .some .some-text {
                font-size: 28px;
                line-height: 32px;
            }
            .features_items {
                margin-top: 30px;
                column-count: 1;
            }
            .features_items .features_item + .features_item {
                margin-top: 40px;
            }
            .features_items .features_item-circle {
                width: 50px;
                height: 50px;
                border-radius: 25px;
            }
            .features_items .features_item-text {
                margin-top: 15px;
                font-size: 22px;
                line-height: 26px;
            }
        }



@media only screen and (max-width: 428px) {
    header .nav div li {
        display: inherit;
    }
    .header{
        display: block;
    }


    .header {
        flex-wrap: wrap; /* Allow the header items to wrap onto new lines */
        padding: 8px 16px; /* Reduce the padding to save space */
    }

    .logo {
        position: relative; /* Remove absolute positioning to allow logo to flow with other items */
        left: calc(50% - 40px);
        top: 23px;
        width: 45px;
        align-items: center;
    }

    .header-nav_text {
        margin-right: 3px; /* Reduce margin to save space */
        font-size: 15px;
        margin-bottom: 5px;
    }

    .header-user_items {
        margin-right: 8px; /* Reduce margin to save space */
    }

    .header-user_items img {
        width: 18px; /* Reduce image size to save space */
        height: 18px;
    }

    .main-box-foto {
        max-width: 100%;
        left: 20%;
        transform: translateX(-50%);
        position: relative;
        display: flex;
        margin-bottom: 15px;

    }

    .row {
        max-width: 100%;
        padding: 25px;
    }


    .btn-text {
        font-size: 16px;
        padding: 10px 20px;
    }

    /* Common styles for all screen sizes */
    .foto-container {
        display: flex;
        max-width: 1064px;
        margin: auto;
        padding-top: 20px;
        padding-bottom: 20px;

    }

    .header_center {
        padding: 30px;
    }

    .and,
    .and-second {
        font-weight: 700;
        font-size: 27px;
        line-height: 42px;
        margin-bottom: 31px;
        margin-top: 15px;
    }

    .text,
    .text-second {
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 20px;

    }

    .title,
    .title-second {
        font-weight: 700;
        font-size: 17px;
        line-height: 20px;
        text-decoration-line: underline;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    /* Styles specific to mobile devices */
    .foto-container {
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }


    .people,
    .people-second {
        max-width: 100%;
        padding: 0 20px;
        text-align: center;
    }

    .and,
    .and-second {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 20px;
    }

    .text,
    .text-second {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 20px;
    }

    .title,
    .title-second {
        font-size: 14px;
        line-height: 16px;
        margin-top: 20px;
        margin-bottom: 15px;

    }

    .owl-dots .owl-dot span {
        margin-bottom: 25px;
    }

    .some {
        padding: 60px 0;
    }

    .some-text {
        font-size: 24px;
        line-height: 30px;
    }

    .features_items {
        column-count: 1;
        margin-top: 40px;
    }

    .features_item {
        margin-bottom: 50px;
    }

    .features_item-text {
        font-size: 22px;
        line-height: 28px;
        margin-top: 20px;
    }

    .features_item-circle {
        width: 50px;
        height: 50px;
        border-radius: 25px;
    }

    .circle1 {
        background-color: #21F7EC;
    }

    .circle2 {
        background-color: #33D3BC;
    }

    .circle3 {
        background-color: #18A5C6;
    }

    .circle4 {
        background-color: #D38F62;
    }

    .circle5 {
        background-color: #F94C43;
    }

    .circle6 {
        background-color: #D399FF;
    }

    .footer {
        padding: 32px 0 16px;
    }

    .footer_socials {
        width: 80px;
        margin-top: 15px;

    }

    .footer_right-text {
        margin-left: 20px;
        margin-top: 20px;
        text-transform: capitalize;
        font-weight: 400;
        font-size: 9px;
        line-height: 23px;
    }

    .footer_right-link {
        margin-left: 15px;
    }

    .footer_inner {
        flex-direction: column;
    }

    .nav__content {
        position: fixed;
        visibility: hidden;
        top: 50%;
        left: 0;
        margin-top: 20px;
        -webkit-transform: translate(0%, -50%);
        transform: translate(0%, -50%);
        width: 100%;
        text-align: center;
    }
}




    @media only screen and (max-width: 375px) {
        .header .nav div li {
            display: none;
        }
        .header{
            display: block;
        }

        .main-box-foto {
            transform: translateX(-65%);
        }

        .header-nav_text {
            margin-right: 3px; /* Reduce margin to save space */
            font-size: 10px;
            margin-bottom: 5px;
        }

        .foto-container {
            padding-left: 10px;
            padding-right: 10px;
        }

        .container {
            max-width: 900px;
        }

        .form {
            width: 320px;
        }

        .footer {
            padding: 28px 0 13px;
        }

        .footer_socials {

            margin-top: 9px;

        }

        .footer_right-text {
            margin-left: 20px;
            margin-top: 20px;
            text-transform: capitalize;
            font-weight: 400;
            font-size: 9px;
            line-height: 23px;
        }

        .footer_right-link {
            margin-left: 15px;
        }

        .footer_inner {
            flex-direction: column;
        }


        }


        @media only screen and (max-width: 320px) {
            .header{
                display: block;
            }

            .header_center {
                padding: 40px 0;
            }

            .main-box-foto {
                position: static;
                max-width: 100%;
                margin-left: auto;
                margin-right: auto;
            }

            .banner-text {
                font-size: 40px;
                line-height: 50px;
            }

            .banner-text-second {
                margin-top: 20px;
                margin-bottom: 12px;
                font-size: 18px;
                line-height: 22px;
            }

            .btn {
                display: flex;
                justify-content: center;
            }

            .btn-text {
                padding: 10px 20px;
                font-size: 14px;
            }

            /* Set default font size and line-height for mobile devices */





            .foto-container {
                position: relative;
            }

            /* Adjust image size and position for mobile devices */
            .foto-container img {
                width: 100%;
                height: auto;
            }

            /* Adjust text styles for mobile devices */
            .people, .people-second {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                padding: 0 20px;
                text-align: center;
            }

            .and, .and-second {
                font-size: 28px;
                line-height: 1.2;
                margin-bottom: 15px;
            }

            .text, .text-second {
                font-size: 20px;
                line-height: 1.5;
                margin-bottom: 20px;
            }

            .title, .title-second {
                display: block;
                font-size: 18px;
                line-height: 1.2;
                margin-top: 20px;
                padding: 10px 20px;
                border: 2px solid #000;
                color: #000;
                text-decoration: none;
            }
            .footer_inner {
                flex-wrap: wrap;
            }

            .footer_left {
                width: 100%;
                text-align: center;
                margin-bottom: 20px;
            }

            .footer_socials {
                margin-top: 0;
                margin-bottom: 20px;
            }

            .footer_right-items {
                flex-wrap: wrap;
                justify-content: center;
            }

            .footer_right-item {
                margin-right: 25px;
                margin-bottom: 20px;
                text-align: center;
            }

            .footer_right-contact {
                margin-left: 0;
                margin-right: 25px;
                margin-bottom: 20px;
                text-align: center;
            }

            .footer_copy {
                margin-top: 30px;
            }

            .form_subscirbe {
                width: 100%;
            }
        }


