@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap");
@import "owl.carousel.css";
@import "owl.theme.default.css";
@import "mobile_menu.css";
@import "style.css";
body {
  font-style: normal;
  font-weight: 400;
}

.contact {
  padding: 80px 0 88px;
}
.contact_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
}
.contact_text {
  margin-top: 9px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

.form {
  width: 366px;
  margin-top: 25px;
}
.form_input-items {
  display: flex;
  justify-content: space-between;
}
.form_input, .form_input-email {
  border: 1px solid #000000;
  padding: 12px 5px 11px 8px;
  width: 153px;
}
.form_input::placeholder, .form_input-email::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #A0A0A0;
}
.form_input:focus, .form_input-email:focus {
  outline: none;
}
.form_input_item {
  margin-top: 18px;
  display: flex;
}
.form_input-email {
  padding: 13px 5px 10px 8px;
  width: 100%;
}
.form_subscribe {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 23px 10px;
  line-height: 16px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
  background: #000000;
  border-radius: 100px;
  border: none;
}

.footer {
  padding: 51px 0 16px;
  background-color: #020202;
}
.footer_inner {
  display: flex;
  justify-content: space-between;
}
.footer_socials {
  width: 115px;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}
.footer_right-items {
  display: flex;
}
.footer_right-text {
  margin-bottom: 36px;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #FFFFFF;
}
.footer_right-nav {
  display: flex;
  flex-direction: column;
}
.footer_right-item + .footer_right-item {
  margin-top: 12px;
}
.footer_right-contact {
  margin-left: 65px;
  display: flex;
  flex-direction: column;
}
.footer_right-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
}
.footer .help {
  margin-top: 12px;
}
.footer_copy {
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
}

/*main*/
.header_center {
  background: #F0EFEB;
  padding: 90px 0 90px;
  position: relative;
  overflow: hidden;
}

.main-box-foto {
  max-width: 599px;
  display: flex;
  position: absolute;
  top: 0px;
  left: 65%;
  transform: translateX(-40%);
  margin-bottom: 24px;
}

.row {
  max-width: 544px;
  margin: 0;
}

.banner-text {
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
}

.banner-text-second {
  margin-top: 42px;
  margin-bottom: 26px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  position: relative;
}

.logo {
  -webkit-transform: rotate(18deg);
  -ms-transform: rotate(18deg);
  transform: rotate(18deg);
  position: absolute;
  left: calc(50% - 40px);
  top: 16px;
  width: 80px;
  align-items: center;
  z-index: 99;
}

.header-nav-text {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  margin-right: 28px;
}
.header-nav-text .header-user_items {
  display: inline-block;
  margin-right: 15px;
}

header .nav div li {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  margin-right: 28px;
  padding: 16px 0;
}

/*# sourceMappingURL=preproc.css.map */
