*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #000000;
    font-family: 'Roboto', sans-serif;
    position: relative;
}
a{
    color: inherit;
    text-decoration: none;
    transition: 4s;
}
a:hover{
    background-color: lightpink;
}
ul li{
    list-style-type: none;
}
.container{
    max-width: 1064px;
    margin: auto;
    padding: 0 5px;
}
.btn-text{
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 7px 23px 9px 23px;
    background-color: #000000;
    border-radius: 100px;
    transition: 4s;
    border: none;
}
.btn-text:hover{
    background-color: lightpink;
}

/*Header*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    position: relative;
}
.logo{
    position: absolute;
    left:calc(50% - 40px);
    top: 16px;
    width: 80px;
    align-items: center;
}
.header-nav_text{
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    margin-right: 28px;
}
.header-user_items{
    display: inline-block;
    margin-right: 15px;
}

/*main*/
.header_center {
    background: #F0EFEB;
    padding: 90px 0 90px;
    position: relative;
    overflow: hidden;
}
.main-box-foto{
    max-width: 599px;
    display: flex;
    position: absolute;
    top: 0px;
    left: 65%;
    transform: translateX(-40%);
    margin-bottom: 24px;
}
.row{
    max-width: 544px;
    margin: 0;
}
.banner-text{
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
}
.banner-text-next{
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 42px;
}
.banner-text-second{
    margin-top: 42px;
    margin-bottom: 26px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

/*text*/
.article{
    padding-top: 60px;
}
.container-text{
    max-width: 632px;
    margin: auto;
}
.article-decoration{
    margin-bottom: 52px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}
.article-text{
    margin-bottom: 47px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
}
.foto-text{
    text-align: center;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 17px;
    max-width: 156px;
}
.foto-text-second{
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 10px;
}
.add {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 25px
}
.link-position{
    display: flex ;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
}
.foto-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1065px;
    margin: auto;
}
.foto-position {
    max-width: 309px;
    margin: auto;
}
.img {
    margin-bottom: 27px;
}
/*foto main*/

.foto-container{
    display: flex;
    max-width: 1064px;
    margin: auto;
    padding-top: 76px;
    padding-bottom: 51px;
}
.background{
    background: rgba(204, 204, 204, 0.3);
}
.people{
    padding-right: 50px;
    max-width: 532px;
    margin: auto;
}
.and{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 31px;
    text-align: left;
}
.text {
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: left;
    margin-bottom: 40px;
}
.title{
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-decoration-line: underline;
    text-align: left;
}
.background-second{
    background: rgba(204, 204, 204, 0.6);
}
.background-third{
    background: rgba(204, 204, 204, 0.3);
}
.and-second {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 31px;
    text-align: right;
}
.text-second {
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: right;
    margin-bottom: 31px;
}
.title-second{
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-decoration-line: underline;
    text-align: right;
}
.people-second{
    padding-left: 50px;
    max-width: 532px;
    margin: auto;
}

/*some*/

.some{
    padding: 190px 0 163px;
}
.some-text{
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}
.features_items {
    margin-top: 69px;
    column-count: 3;
}
.features_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.features_item + .features_item {
    margin-top: 111px;
}
.features_item-circle {
    width: 70px;
    height: 70px;
    border-radius: 35px;
}
.features_item-text {
    margin-top: 25px;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
}
.circle1 {
    background-color: #21F7EC;
}
.circle2 {
    background-color: #33D3BC;
}
.circle3 {
    background-color: #18A5C6;
}
.circle4 {
    background-color: #D38F62;
}
.circle5 {
    background-color: #F94C43;
}
.circle6 {
    background-color: #D399FF;
}

/*person*/

.comment_title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 102px;
}
.comment_bottom{
    background: linear-gradient(to bottom, #fff 30.5%, #F0F0F0 0%);
    padding-bottom: 52px;
}
.comment_items {
    display: flex;
    justify-content: space-between;
}
.comment_items div:nth-child(2){
    padding: 0 15px;
}
.comment_item {
    text-align: center
}
.comment_item-img{
    margin-bottom: 35px;
}
.comment_item-title {
    margin: 0 auto;
    max-width: 300px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.6px;
}
.item-title2{
    max-width: 270px;
}
.item-title3{
    max-width: 285px;
}
.comment_item-text {
    margin: 40px 0 44px;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
}
.comment_item-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-decoration-line: underline;
}

/*contact*/
.contact {
    padding: 80px 0 88px;
}

.contact_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact_title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;

}
.contact_text {
    margin-top: 9px;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}
.form {
    width: 366px;
    margin-top: 25px;
}
.form_input-items {
    display: flex;
    justify-content: space-between;
}
.form_input {
    border: 1px solid #000000;
    width: 153px;
    padding: 12px 5px 11px 8px;
}

.form_input::placeholder,
.form_input-email::placeholder{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #A0A0A0;
}
.form_input:focus,
.form_input-email:focus{
    outline: none;
}
.form_input_item {
    margin-top: 18px;
    display: flex;
}
.form_input-email {
    border: 1px solid #000000;
    padding: 13px 5px 10px 8px;
    width: 100%;
}

.form_subscirbe {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 23px 10px;
    line-height: 16px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    background: #000000;
    border-radius: 100px;
    border: none;
}

.footer {
    padding: 51px 0 16px;
    background-color: #020202;
}

.footer_inner {
    display: flex;
    justify-content: space-between;
}


.footer_socials {
    width: 115px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}
.footer_right-items{
    display: flex;
}

.footer_right-text {
    margin-bottom: 36px;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}
.footer_right-nav {
    display: flex;
    flex-direction: column;
}
.footer_right-item + .footer__right-item{
    margin-top: 12px;
}
.footer_right-contact{
    margin-left: 65px;
    display: flex;
    flex-direction: column;
}
.footer_right-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}
.help{
    margin-top: 12px;
}
.footer_copy {
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}


.owl-dots{
    text-align: center;
}

.owl-dots .owl-dot span{
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    background-color: #D399FF ;
    margin-left: 5px;
    margin-bottom: 200px;

}
.owl-dots .owl-dot.active span{
    background-color: black;
}
@media only screen and (max-width: 1526px) {
    .banner-text {
        font-size: 40px;

    }

    .banner-text-next {
        font-size: 40px;
    }
}
@media only screen and (max-width: 1100px) {
    .banner-text {
        font-size: 30px;

    }

    .banner-text-next {
        font-size: 30px;
    }
    .banner-text-second{
        font-size: 17px;

    }
    .row{
        max-width: 300px;
    }
}
