*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #000000;
    font-family: 'Roboto', sans-serif;
    position: relative;
}
a{
    color: inherit;
    text-decoration: none;
    transition: 4s;
}
a:hover{
    background-color: lightpink;
}
ul li{
    list-style-type: none;
}
.container{
    max-width: 1064px;
    margin: auto;
    padding: 0 5px;
}
.btn-text{
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 7px 23px 9px 23px;
    background-color: #000000;
    border-radius: 100px;
    transition: 4s;
    border: none;
}
.btn-text:hover{
    background-color: lightpink;
}


.owl-dots{
    text-align: center;
}

.owl-dots .owl-dot span{
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    background-color: black ;
    margin-left: 5px;
}
.owl-dots .owl-dot.active span{
    background-color: #D399FF;
}
.float{
    float: right;
}

